<h1>Welcome to Online Dating app</h1>
<a href="/auth/facebook">
    <button type="button" class="btn btn-primary btn-lg">Login With Facebook</button>
</a>
 <a href="/auth/google">
    <button type="button" class="btn btn-danger btn-lg">Login With Google</button>
</a>